#coin {
    animation-duration: 0.8s;
}

.flip {
    animation: flip 0.8s ease-in-out;
}

@keyframes flip {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}